.flexBox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flexBoxItem1 {
    flex-basis: 100%;
    font-size: 2vw;
    /*background-color: #fd6158;*/
    text-align: center;
}

.flexBoxItem2 {
    /*font-size: 3vw;*/
    text-align: right; /*セレクトボックスの右寄せ*/
    flex-basis: 50%;
    /*background-color: #febe3e;*/

}
.flexBoxItem3 {
    /*font-size: 3vw;*/
    flex-basis: 50%;
    /*background-color: #1bd64d;*/
}

